crawl_jobs/clothes_spider/*/*.json
crawl_jobs/clothes_spider/*/*.csv
crawl_jobs/crawled_images/*/
crawl_jobs/crawled_data/*/

# General
*.log

# Python
 */__pycache__/

# Frontend
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/pids
frontend/*.pid
frontend/*.seed
frontend/lib-cov
frontend/coverage
frontend/.nyc_output
frontend/.grunt
frontend/.lock-wscript
frontend/build/Release
frontend/node_modules
frontend/jspm_packages
frontend/.npm
frontend/.node_repl_history
frontend/.next

# Data Pipeline
data_pipeline/*.class
data_pipeline/.cache
data_pipeline/.history
data_pipeline/.lib/
data_pipeline/dist/*
data_pipeline/project/target/
data_pipeline/project/project/
data_pipeline/target/
data_pipeline/lib_managed/  
data_pipeline/src_managed/
data_pipeline/project/boot/
data_pipeline/null/
data_pipeline/.bsp/
data_pipeline/.idea/