crawl_jobs/clothes_spider/*/*.json
crawl_jobs/clothes_spider/*/*.csv
crawl_jobs/crawled_images/*/
crawl_jobs/crawled_data/*/

# Files
*.log

# IDES
.vscode
.idea

# Python
*/__pycache__/*

# Frontend
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/.next/
frontend/out/
frontend/build
frontend/.DS_Store
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.vercel

# Data Pipeline
data_pipeline/*?metastore_db/*
data_pipeline/*/spark_warehouse/*
data_pipeline/.mypy_cache/
data_pipeline/.venv
data_pipeline/venv/*