@import "./../../../styles/colors.global.scss";
@import "./../../../styles/devices.global.scss";

.navbar-brand {
    font-family: "Poppins", sans-serif;
    color: $color-gray !important;
    font-size: 1.5em !important;

    span {
        font-weight: 700;
        color: $color-primary;
    }
}

.navbar {
    @include for-max-size(sm) {
        .navbar-brand {
            color: $color-white !important;
            transform: translateX(-50%) translateY(0);
            left: 50%;
            top: 5px;
            position: absolute;
        }

        .navbar-toggler {
            border-color: $color-white !important;
            border-radius: 5px !important;
            background-color: $color-white;
        }

        a.nav-link {
            color: $color-white !important;
        }
        background-color: $color-dark-2 !important;
    }
    @include for-min-size(md) {
        background-color: #fff !important;
    }
}

a.nav-link {
    margin-top: 10px;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 500 !important;
    color: $color-gray !important;
    text-align: center;
    line-height: 1;

    .soon {
        &::before {
            content: "\A";
            white-space: pre;
        }
        color: $color-primary;
        font-size: 0.7em;
    }
}
