@import "./../../styles/colors.global.scss";
@import "./../../styles/devices.global.scss";

.mp-upper-body {
    display: flex;
    padding: 120px;
    align-items: center;
    justify-content: center;
    color: $color-white;

    @include for-max-size(md) {
        padding: 40px 30px;
        background-image: none;
        background-color: $color-dark-2;
    }

    @include for-min-size(lg) {
        background-image: url("./../../static/images/backgrounds/mp-home-upper.svg");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;
    }

    h1 {
        font-family: "Montserrat", sans-serif;
        color: $color-primary;
    }
}

div.row > div {
    align-self: center;
}

@include for-exactly-size(xs) {
    font-size: 0.2rem !important;
}
