@import "./../../styles/colors.global.scss";
@import "./../../styles/devices.global.scss";

.upper-body {
    display: flex;
    padding: 120px;
    align-items: center;
    justify-content: center;
    background-image: url('./../../static/images/backgrounds/mp-home-upper.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    color: $color-white;

    h1 {
        font-family: "Montserrat", sans-serif;
        color: $color-primary;
    }
}

div.row > div {
    align-self: center;
}

@include for-size(phone-only) {
    font-size: 0.2rem !important;
}
